.outside {
    margin-top: 10%;
}

.inside-right {
    padding: 10px 40px;
}


.inside-left {
    border-right-width: 0px;
}

img {
    width: 50%;
    height: 50%;
    padding: 20px;
    display: block;
    margin: auto;
}

.fa, .fa:visited {
    color: rgb(51, 51, 51);
    padding: 5px;
    font-size: 2em;
}

.fa:hover {
    color: #337ab7;
}

.icons {
    padding: 2px;
}