/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }


.outside {
    margin-top: 10%;
    /*background-color: green;*/
}

.inside-left {
    /*background-color: blue;*/
    border-right-style: solid;
    border-right-color: #ff0000;
    border-right-width: 2px;
}

.inside-right {
    background-color: yellow;
/*    border-left-style: solid;
    border-left-color: #ff0000;
    border-left-width: 2px;*/
    margin-top: 5%;


}

img {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: block;
    margin: auto;
}

.fa, .fa:visited {
    color: rgb(51, 51, 51);
    padding: 5px;
}

.fa:hover {
    color: blue;
}

.icons {
    padding: 2px;
}