h1 {
    text-align: center;
}

* {
    font-family:arial;
    margin:0;
    padding:0;
}

.logo, .intro, .menu, .content {
    padding:10px;
}
.menu {
   
    background:#428bca;
    color:#fff;
    height:50px;
    line-height:30px;
    letter-spacing:1px;
    width:100%;
}
.content {
    margin-top:10px;
}
.menu-padding {
    padding-top:40px;
}
.content p {
    margin-bottom:20px;
}
.sticky {
    position:fixed;
    top:0;
}

.nav-items {
    float: right;
    margin: 0;
}
